
  <div class="card-group">
    <div class="card" *ngFor="let product of products">
      <img src="{{ product.imgUrl }}"  alt="{{ product.name }}" class="card-img-top"
        alt="Hollywood Sign on The Hill" />
      <div class="card-body">
        <h5 class="card-title" >{{ product.name }}</h5>

        <button class="btn btn-primary" (click)="showProduct(product.id)">
          {{ isProductShown(product.id) ? "hide" : "show" }}
        </button>
        <p *ngIf="isProductShown(product.id)" class="card-text">
          {{ product.description }}
        </p>
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>
      </div>
    </div>
  </div>

